.Rproj.user
.Rhistory
.RData
.Ruserdata

mswep_tp_mm_global_197902_202301_025_monthly.nc
/pos/2024-08-curah-hujan-indonesia/mswep_tp_mm_global_197902_202301_025_monthly.nc
air_museum_playground_4k.hdr
/pos/2024-08-gunung-agung-bromo-merapi-dan-semeru/aset/S08E110.hgt
/pos/2024-08-gunung-agung-bromo-merapi-dan-semeru/aset/S08E112.hgt
/pos/2024-08-gunung-agung-bromo-merapi-dan-semeru/aset/S08E113.hgt
/pos/2024-08-gunung-agung-bromo-merapi-dan-semeru/aset/S09E112.hgt
/pos/2024-08-gunung-agung-bromo-merapi-dan-semeru/aset/S09E113.hgt
/pos/2024-08-gunung-agung-bromo-merapi-dan-semeru/aset/S09E115.hgt

/.quarto/