.Rproj.user
.Rhistory
.RData
.Ruserdata

mswep_tp_mm_global_197902_202301_025_monthly.nc
/pos/2024-08-curah-hujan-indonesia/mswep_tp_mm_global_197902_202301_025_monthly.nc
air_museum_playground_4k.hdr

/.quarto/